/*****************************/
/*** FLIPLET DEFAULT THEME ***/
/********* CONTENTS **********/
/*****************************/
/*****************************
01 - BUTTONS
******************************/

/* 01 - BUTTONS */

.btn-primary {
  background-color: $primaryButtonColor;
  color: $primaryButtonTextColor;
  border: $primaryButtonBorder;
  border-radius: $primaryButtonBorderRadius;

  &:focus,
  &:hover,
  &:active:focus,
  &:active:hover {
    background-color: $primaryButtonHoverColor;
    color: $primaryButtonHoverTextColor;
    border: $primaryButtonHoverBorder;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

.btn-secondary {
  background-color: $secondaryButtonColor;
  color: $secondaryButtonTextColor;
  border: $secondaryButtonBorder;
  border-radius: $secondaryButtonBorderRadius;

  &:focus,
  &:hover,
  &:active:focus,
  &:active:hover {
    background-color: $secondaryButtonHoverColor;
    color: $secondaryButtonHoverTextColor;
    border: $secondaryButtonHoverBorder;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

/*
.overlay-about-app {
  .fliplet-info {
    .update-buttons {
      .check-updates {
        background-color: $primaryButtonColor;
        color: $primaryButtonTextColor;

        &:active:focus,
        &:focus,
        &:hover {
          background-color: $primaryButtonHoverColor;
          color: $primaryButtonHoverTextColor;
        }
      }
    }
  }
}
*/
